@function rem($target) {
    @return ($target/$baseFontSize) * 1rem;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin text {
    font-family: $arialFont;
    font-size: rem(14px);
}