// font size
$baseFontSize: 16px;

// font family
$dmSansFont: 'DM Sans', sans-serif;
$trebuchetMSFont: 'Trebuchet MS', sans-serif;
$arialFont: Arial, Helvetica, sans-serif;

// COLORS
$colorPrimary: #008BAA;
$colorSecondary: #FF9900;
$border: #E0E0E0;
$color-text: #000;
$color-text-secondary: #777;
$hover: #CB0000;
$accent: rgb(255, 242, 0.7);
$background: #FFF;
$color-bg-secondary: #F7F7F7;
$telegramColor: #2AABEE;
$facebookColor: #4867AA;
$linkColor: #0059AC;