* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    line-height: 1;
}
*:before, *:after{box-sizing: border-box;}
:focus, :active, a:focus, a:active{outline: none;}
html,body{height: 100%; width: 100%;}
input, button, textarea{font-family: inherit;}
input::-ms-clear{display: none;}
a, button{cursor: pointer; color: inherit;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited, a:hover {text-decoration: none;}
img{vertical-align: top;}

.visually-hidden {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
body {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-rows: auto 1fr auto;
}
.container {
    max-width: 1072px;
    margin: 0 auto;
    padding: 0 16px;
}
.no-scroll {
    overflow: hidden;
}