.info {
    display: flex;
    column-gap: 32px;

    &__mark {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include text;
        line-height: 1.15;
    }

    &__resp {
        font-weight: 700;
    }

    &__score {
        width: 52px;
        height: 52px;
        background-color: $colorPrimary;
        color: $background;
        font-family: $trebuchetMSFont;
        font-weight: 700;
        font-size: rem(24px);
        @include center;
    }
}
