.lable {
    @include center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    background-color: $accent;
    font-family: $trebuchetMSFont;
    font-weight: 700;
    &__name{
        max-width: 179px;
        font-size: rem(18px);
        line-height: 1.16;
        text-align: center;
        margin-bottom: 10px;
    }
    &__code{
        font-size:  rem(10px);
        line-height: 1.164;
        text-transform: uppercase;
        margin-bottom: 4px;
    }
    &__num{
        padding: 6px 7px;
        background-color: $color-text;
        color: $background;
        font-size: rem(17px);
    }
}