.content {
    .container{
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr 227px;
        grid-auto-rows: auto;
    }
    
    &__aside{
        order: 5;
        text-align: left;
        margin: 0;
        align-self: center;
    }
}

