.content {
    .container{
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr 227px;
        grid-auto-rows: auto;
    }
    
    &__aside{
        order: 5;
        text-align: left;
        margin: 0;
        align-self: center;
        padding: 0 0 390px;

        .fact{
            &__num{
                font-size: rem(100px);
                margin-bottom: 60px;
            }
        }
    }
}

